<div class="add-course__container_authors">
  <div class="add-course__container_authors_search">
    <label for="authors">{{ 'select-authors' | translate }}</label>
    <input
      #autocompleteInput
      type="text"
      [placeholder]="'authors-placeholder' | translate"
      id="authors"
      [(ngModel)]="searchTerm"
      (input)="searchAuthors(searchTerm)"
    />
    <ul *ngIf="showAutocomplete && filteredAuthors.length > 0">
      <li
        *ngFor="let author of filteredAuthors; let i = index"
        (click)="selectAuthorFromList($event, author)"
        class="add-course__container_authors_search_item"
      >
        {{ author.name }}
      </li>
    </ul>
  </div>

  <div class="add-course__container_authors_selected">
    <p class="add-course__container_authors_selected_text">
      {{ 'authors' | translate }}
    </p>
    <ul class="add-course__container_authors_selected_list">
      <li
        class="author-edit"
        *ngFor="let author of selectedAuthors; let i = index"
      >
        {{ author.name }}
        <button class="author-edit__button_delete" (click)="removeAuthor(i)">
          ✕
        </button>
      </li>
    </ul>
  </div>
</div>
