<app-loading></app-loading>
<main class="login-page">
  <form class="login__container">
    <h1 class="login__container_title">Login</h1>
    <div class="login__container_email">
      <div class="login__container_email_title">
        <span class="email">Email:</span>
        <span class="required">*required</span>
      </div>
      <input
        id="user-login"
        type="text"
        placeholder="Enter email"
        name="email"
        [formControl]="loginControl"
        [ngClass]="
          loginControl.invalid && (loginControl.touched || loginControl.dirty)
            ? 'error-border'
            : ''
        "
      />
      <div
        *ngIf="
          loginControl.invalid && (loginControl.touched || loginControl.dirty)
        "
        class="error-text"
      >
        <div *ngIf="loginControl.errors?.['required']">Login is required.</div>
        <div *ngIf="loginControl.errors?.['minlength']">
          Login length should be min 2 characters.
        </div>
      </div>
    </div>
    <div class="login__container_password">
      <div class="login__container_password_title">
        <span class="password">Password:</span>
        <span class="required">*required</span>
      </div>
      <input
        id="user-password"
        type="text"
        placeholder="Enter password"
        name="password"
        [formControl]="passwordControl"
        [ngClass]="
          passwordControl.invalid &&
          (passwordControl.touched || passwordControl.dirty)
            ? 'error-border'
            : ''
        "
      />
      <div
        *ngIf="
          passwordControl.invalid &&
          (passwordControl.touched || passwordControl.dirty)
        "
        class="error-text"
      >
        <div *ngIf="passwordControl.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="passwordControl.errors?.['minlength']">
          Password length should be min 2 characters.
        </div>
      </div>
    </div>
    <div class="login__container_button">
      <a href="#" class="login__container_button_forgot-password"
        >Forgot password?</a
      >
      <button
        (click)="onClickLogin()"
        [disabled]="loginControl.invalid || passwordControl.invalid"
      >
        Login
      </button>
    </div>
  </form>
</main>
