header {
  background-color: #414453;
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 50px;
}

.select-language__container {
  align-items: center;
  display: flex;
  justify-content: center;
  & #select-language {
    background-color: #414453;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
  }
  & option {
    cursor: pointer;
  }
}
.login {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  &__user {
    align-items: center;
    display: flex;
    & img {
      height: 16px;
      margin-right: 10px;
      width: 16px;
    }
  }
  &__button {
    align-items: center;
    display: flex;
    & img {
      height: 16px;
      margin-right: 10px;
      width: 16px;
    }
    & button {
      background-color: transparent;
      border: none;
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
      padding: 0;
    }
  }
}
