<header>
  <app-logo></app-logo>
  <div *appIfAuthenticated="isAuth" class="login">
    <div class="login__user">
      <img src="assets/icons/login.svg" alt="login" />
      <span *ngIf="user" class="login__user-text"
        >{{ user.name.first }} {{ user.name.last }}</span
      >
    </div>
    <div *appIfAuthenticated="isAuth" class="login__button">
      <img src="assets/icons/log-off.svg" alt="log-off" />
      <button (click)="onClickLogOut()">Log off</button>
    </div>
  </div>
</header>
<app-breadcrumbs *appIfAuthenticated="isAuth"></app-breadcrumbs>
