<li *ngIf="coursesListItem" class="courses__card">
  <div class="courses__card_header">
    <h2 class="courses__card_header_title">
      Video course{{ cardIndex + 1 }}:
      {{
        coursesListItem.name.slice(0, 1).toUpperCase() +
          coursesListItem.name.slice(1)
      }}
    </h2>
    <div class="courses__card_header_info">
      <div class="courses__card_header_info_duration">
        <img src="assets/icons/duration.svg" alt="duration" />
        {{ math.floor(coursesListItem.length / 60) }}h
        {{ coursesListItem.length % 60 }}min
      </div>
      <div class="courses__card_header_info_date">
        <img src="assets/icons/creation-date.svg" alt="creation date" />
        {{ coursesListItem.date | date : 'd MMM, y' }}
      </div>
    </div>
  </div>
  <div class="courses__card_main">
    <div class="courses__card_main_description">
      {{ coursesListItem.description }}
    </div>
    <div class="courses__card_main_buttons">
      <button (click)="editCard(coursesListItem.id)">
        <img src="assets/icons/edit.svg" alt="edit" />
        Edit
      </button>
      <button (click)="deleteCard(coursesListItem.id)">
        <img src="assets/icons/delete.svg" alt="delete" />
        Delete
      </button>
    </div>
  </div>
</li>
