<li
  *ngIf="coursesListItem"
  class="courses__card"
  [appBorderColor]="coursesListItem.date"
  [ngClass]="topRated ? 'courses__card_top-rated' : ''"
>
  <div class="courses__card_header">
    <h2 class="courses__card_header_title">
      {{
        'Video course ' + cardIndex + ': ' + coursesListItem.name | uppercase
      }}
      <span *ngIf="topRated" class="courses__card_top-rated__star">★</span>
    </h2>
    <div class="courses__card_header_info">
      <div class="courses__card_header_info_duration">
        <img src="assets/icons/duration.svg" alt="duration" />
        {{ coursesListItem.length | duration }}
      </div>
      <div class="courses__card_header_info_date">
        <img src="assets/icons/creation-date.svg" alt="creation date" />
        {{ coursesListItem.date | date : 'd MMM, y' }}
      </div>
    </div>
  </div>
  <div class="courses__card_main">
    <div class="courses__card_main_description">
      {{ coursesListItem.description }}
    </div>
    <div class="courses__card_main_buttons">
      <button
        data-button-function="edit"
        (click)="editCard(coursesListItem.id)"
      >
        <img src="assets/icons/edit.svg" alt="edit" />
        Edit
      </button>
      <button
        data-button-function="delete"
        (click)="deleteCard(coursesListItem.id)"
      >
        <img src="assets/icons/delete.svg" alt="delete" />
        Delete
      </button>
    </div>
  </div>
</li>
