.courses__card {
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  &_header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    width: 80%;
    &_title {
      font-size: 20px;
      font-weight: bold;
      line-height: 20px;
      margin: 0;
      padding: 0;
    }
    &_info {
      display: flex;
      gap: 20px;
    }
  }
  &_main {
    display: flex;
    justify-content: space-between;
    &_description {
      font-size: 12px;
      width: 80%;
    }
    &_buttons {
      display: flex;
      gap: 5px;
    }
  }
}
