<form
  class="add-course-page"
  [formGroup]="courseForm"
  (ngSubmit)="onClickSave()"
>
  <div class="add-course__container">
    <div class="add-course__container_title">
      <label for="course-edit-title" class="add-course__container_title_text">{{
        'title-title' | translate
      }}</label>
      <div
        *ngIf="
          courseForm.get('title')?.invalid &&
          (courseForm.get('title')?.touched || courseForm.get('title')?.dirty)
        "
        class="error-text"
      >
        <div *ngIf="courseForm.get('title')?.errors?.['required']">
          {{ 'title-required' | translate }}
        </div>
        <div *ngIf="courseForm.get('title')?.errors?.['maxlength']">
          {{ 'title-length' | translate }}
        </div>
      </div>
      <input
        id="title"
        type="text"
        [placeholder]="'title-placeholder' | translate"
        formControlName="title"
        (change)="updateFormValidity()"
        [ngClass]="
          courseForm.get('title')?.invalid &&
          (courseForm.get('title')?.touched || courseForm.get('title')?.dirty)
            ? 'error-border'
            : ''
        "
      />
    </div>
    <div class="add-course__container_description">
      <label
        for="course-edit-description"
        class="add-course__container_description_text"
        >{{ 'description-title' | translate }}</label
      >
      <div
        *ngIf="
          courseForm.get('description')?.invalid &&
          (courseForm.get('description')?.touched ||
            courseForm.get('description')?.dirty)
        "
        class="error-text"
      >
        <div *ngIf="courseForm.get('description')?.errors?.['required']">
          {{ 'description-required' | translate }}
        </div>
        <div *ngIf="courseForm.get('description')?.errors?.['maxlength']">
          {{ 'description.length' | translate }}
        </div>
      </div>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
        [placeholder]="'description-placeholder' | translate"
        formControlName="description"
        (change)="updateFormValidity()"
        [ngClass]="
          courseForm.get('description')?.invalid &&
          (courseForm.get('description')?.touched ||
            courseForm.get('description')?.dirty)
            ? 'error-border'
            : ''
        "
      ></textarea>
    </div>
    <app-date-edit
      [date]="courseForm.value.date"
      (dateChanged)="onInputDate($event)"
      [courseForm]="courseForm"
    ></app-date-edit>
    <app-duration-edit
      [duration]="courseForm.value.duration"
      (durationInput)="onInputDuration($event)"
      formControlName="duration"
    ></app-duration-edit>
    <app-authors-edit
      [authors]="authors"
      [selectedAuthors]="selectedAuthors ? selectedAuthors : []"
      [form]="courseForm"
      (authorsChanged)="updateFormAuthorsValidity($event)"
    ></app-authors-edit>
    <div
      *ngIf="
        courseForm.get('authors')?.invalid &&
        (courseForm.get('authors')?.touched || courseForm.get('authors')?.dirty)
      "
      class="error-text"
    >
      <div *ngIf="courseForm.get('authors')?.errors?.['noAuthorsSelected']">
        {{ 'select-one-author' | translate }}
      </div>
    </div>
    <div class="add-course__container_buttons">
      <button
        type="submit"
        (click)="onClickSave()"
        [class.disabled-button]="!isFormDataValid"
        [disabled]="!isFormDataValid"
      >
        {{ 'save' | translate }}
      </button>
      <button type="button" (click)="onClickCancel()">
        {{ 'cancel' | translate }}
      </button>
    </div>
  </div>
</form>
