.add-course-page {
  align-items: center;
  background-color: #f2f3f7;
  display: flex;
  justify-content: center;
  .add-course__container {
    background-color: #fff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    &_title {
      &_text {
        margin: 0 0 10px 0;
      }
      & input {
        box-sizing: border-box;
        width: 100%;
      }
    }
    &_description {
      &_text {
        margin: 0 0 10px 0;
      }
      & textarea {
        box-sizing: border-box;
        width: 100%;
      }
    }
    &_buttons {
      display: flex;
      justify-content: space-between;
      width: 20%;
      & button {
        cursor: pointer;
        height: 25px;
        width: 70px;
      }
    }
    &_authors {
      &_text {
        margin: 0 0 10px 0;
      }
      &_list {
        align-items: center;
        border: 1px solid #000;
        display: flex;
        gap: 10px;
        height: 65px;
        padding: 5px;
      }
    }
  }
}
