<div class="date-edit">
  <label for="course-edit-date" class="date-edit__text">{{
    'date-title' | translate
  }}</label>
  <div
    *ngIf="!isValidDateFormat(date) && touched && date !== ''"
    class="error-text"
  >
    <div *ngIf="!isValidDateFormat(date) && date !== ''">
      {{ 'error-date' | translate }}
    </div>
    <div
      *ngIf="
        courseForm.controls['date'].errors?.['required'] &&
        touched &&
        courseForm.controls['date'].value === ''
      "
    >
      {{ 'date-required' | translate }}
    </div>
  </div>
  <input
    name="date"
    id="date"
    type="text"
    [placeholder]="'date-placeholder' | translate"
    value="{{ date }}"
    (input)="onInput($event)"
    (blur)="onTouchHandler()"
    [ngClass]="
      (!isValidDateFormat(date) && touched && date !== '') ||
      (courseForm.controls['date'].errors?.['required'] && touched) ? 
      'error-border' : 
      ''
    "
    required
  />
</div>
