.date-edit {
  &__text {
    margin: 0 0 10px 0;
  }
  & input {
    box-sizing: border-box;
    outline: none;
    width: 20%;
  }
  & .error-text {
    color: red;
    font-size: 12px;
  }
  & .error-border {
    border: 2px solid red;
  }
}
