<app-header (logoutClicked)="onClickLogout()"></app-header>
<!-- <app-breadcrumbs></app-breadcrumbs> -->
<main class="courses-page">
  <app-courses-search
    [courses]="courses"
    (filteredCourses)="handlesearchCourses($event)"
  ></app-courses-search>
  <div class="courses-page__add-course">
    <button>+ Add course</button>
  </div>
  <app-courses-list
    (cardIdToBeDelete)="onClickDeleteCard($event)"
    [courses]="courses"
  ></app-courses-list>
  <button class="courses-page__load-more" (click)="onClickLoadMore()">
    LOAD MORE
  </button>
</main>
<app-footer></app-footer>
