<app-loading></app-loading>
<main class="courses-page">
  <app-courses-search></app-courses-search>
  <div class="courses-page__add-course">
    <button (click)="onClickAddCourse()">{{ 'add-course' | translate }}</button>
  </div>
  <app-courses-list
    (cardIdToBeEdited)="onClickEditCard($event)"
    (cardIdToBeDeleted)="onClickDeleteCard($event)"
    [courses]="courses"
  ></app-courses-list>
  <button class="courses-page__load-more" (click)="onClickLoadMore()">
    {{ 'load-more' | translate }}
  </button>
</main>
